.btn {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.btn-primary {
  color: white;
  background-color: #1ea7fd;
}
.btn-secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.btn-success {
  background-color: #28a745;
  color: white;
}
.btn-danger {
  color: white;
  background-color: #dc3545;
}
.btn-warning {
  color: #333;
  background-color: #ffc107;
}
.btn-info {
  color: white;
  background-color: #17a2b8;
}
.btn-small {
  font-size: 0.75rem;
  padding: 0.625rem 1rem;
}
.btn-medium {
  font-size: 0.875rem;
  padding: 0.688rem 1.25rem;
}
.btn-large {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}
.btn-circle {
  border-radius: 10rem;
}
